body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-family: "Domine", serif;
  padding-left: 10px;
}

.top-border {
  border-left: 3px solid tomato;
  height: 26%;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

p {
  padding-right: 10px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

#left-side {
  margin-top: 5%;
}

.half-width img {
  width: 65%;
}

.link-button {
  text-decoration: none;
  padding: 10px 40px;
  color: #fff;
  background-color: tomato;
  border-radius: 10px;
}

.last-para {
  margin-top: 20px;
  font-size: 14px;
}

/* mission-area */

.mission-area {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.mission-area h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.mission-item {
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 25px;
  text-align: left;
}

.mission-item img {
  width: 45%;
}

#mission {
  background-color: #cddeff;
  border-radius: 20px;
}
#vission {
  background-color: #fee3ec;
  border-radius: 20px;
}

#goals {
  background-color: #fffcdc;
  border-radius: 20px;
}

/* develop section  */
#dev-area {
  margin-left: -15%;
  margin-right: 20px;
}

#global-img {
  margin-left: 40px;
}

.next-level {
  text-align: center;
}

.next-h2 {
  font-size: 40px;
  font-weight: 700;
  color: #181d31;
}

.you {
  font-size: 65px;
  font-style: italic;
  font-weight: 700;
  margin-top: -3%;
  background: linear-gradient(rgb(117, 7, 241), rgb(245, 10, 10));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para {
  font-size: 20px;
  font-weight: normal;
  color: #181d31;
  margin-top: -3%;
}

.upgrade {
  width: 30%;
  text-align: center;
  padding: 20px 15px;
  box-shadow: 10px 10px 40px gray;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}

footer {
  color: #fff;
  padding-top: 20px;
  height: 180px;
  background-color: #112031;
  text-align: center;
}

.tomato {
  color: tomato;
}

footer p {
  font-size: 14px;
}
