body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-family: "Domine", serif;
  padding-left: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

p {
  padding-right: 10px;
}

.top-border {
  border-left: 3px solid tomato;
  height: 22%;
}

.orange-color {
  color: orange;
}

.top-section {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.banner-left {
  width: 60%;
}

.banner-right {
  width: 40%;
}
.banner-right img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  padding: 10px 40px;
  color: #fff;
  background-color: tomato;
  border-radius: 10px;
}

.link-button:hover {
  background-color: red;
}

.last-para {
  margin-top: 20px;
  font-size: 14px;
}

/* mission-area */

.mission-area {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
}

.mission-area h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

.mission-item {
  width: 30%;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
}

.mission-item img {
  width: 45%;
}

#mission {
  background-color: #cddeff;
  border-radius: 20px;
}
#vission {
  background-color: #fee3ec;
  border-radius: 20px;
}

#goals {
  background-color: #fffcdc;
  border-radius: 20px;
}

.develop-area {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.develop-image {
  width: 40%;
}

.develop-image img {
  width: 100%;
}

.develop-intro {
  width: 60%;
  padding-left: 40px;
}

.global-area {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.global-image {
  width: 40%;
}

.global-image img {
  width: 100%;
}

.global-intro {
  width: 60%;
  padding-right: 40px;
}

.next-level {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.next-level-title {
  text-align: center;
}

.next-h2 {
  font-size: 40px;
  font-weight: 700;
  color: #181d31;
}

.gradient {
  font-size: 65px;
  font-style: italic;
  font-weight: 700;
  margin-top: -3%;
  color: #894bee;
}

.para {
  font-size: 20px;
  font-weight: normal;
  color: #181d31;
  margin-top: -3%;
}

.upgrade {
  width: 30%;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 10px 10px 35px gray;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 10px;
}

footer {
  color: #fff;
  padding-top: 20px;
  height: 180px;
  background-color: #112031;
  text-align: center;
}

.tomato {
  color: tomato;
}

footer p {
  font-size: 14px;
}
